* {
	box-sizing: border-box;
}

header, nav, ul, li, main, section, aside, footer {
	border: 2px solid black;
}


body {
	font-family: "Helvetica Neue";
	width: 96%;
	margin: 2%;
	display: inline-block;
	background-color: grey;
}

/*=========================================================*/

header {
	text-align: centre;
}

header, footer {
	display: inline-block;
	height: 80px;
	width: 100%;
	margin-top:	10px;
	background-color: white;
}

#name {
	font-size:	30px;
	padding: 10px;
	left: 50%;

}

nav {
	border: 2px solid black;
    height: 20px;
    width: 100%;
    top: 90px;
    font-size:10px;
}

nav > ul {
	display: inline-block;
	width: 100%;
}

nav > ul > li {
	display: inline-block;
	width: 20%;
	float:left;
}

/*=========================================================*/

main {
	display: inline-block;
	margin-top: 10px;
	height: 100%;
	margin: 10% 10%;
	width: 80%;
	background-color: white;
}

/*}

@media only screen and (min-width: 600px) {

}*/